<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"> 
 
  <head profile="http://gmpg.org/xfn/11"> 

    <title>CGNet Swara Impact</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" /> 
    <meta http-equiv="content-language" content="en-GB" />
    <link rel="stylesheet" type="text/css" href="http://cgnetswara.org/loudblog/custom/templates/default/c/master.css" />
 
    <lb:rssfeedhead />

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-17543752-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script><script type="text/javascript">stLight.options({publisher:'8c4880ac-9f17-48bb-83eb-e948d49c684b'});</script>
  </head>
 
<lb:if_list>  <body id="body-index"></lb:if_list>
<lb:if_single>  <body id="body-inside"></lb:if_single>

    <div id="wrapper">

<br>

      <div id="content" class="clearfix">

        <div id="nav" class="clearfix">
        
          <h1><a href="http://cgnetswara.org/"><img id="logo" 
src="http://cgnetswara.org/loudblog/custom/templates/default/swaracover-small.png"
width=220
alt="CGNet Swara Logo" /></a></h1>
        
<h2 class="header">
<table><tr>
<td>
          <a href="http://cgnetswara.org/about.html">About</a>&nbsp;&nbsp;|&nbsp;&nbsp;
</td><td>
          <a href="http://cgnetswara.org/news.html">News & Events</a>&nbsp;&nbsp;|&nbsp;&nbsp;
</td><td>
          <a href="http://cgnetswara.org/impact.html">Impact</a>&nbsp;&nbsp;|&nbsp;&nbsp;
</td><td>
          <a href="http://cgnetswara.org/recognition.html">Recognition</a>
</td></td>
</table>
</h2>

          <h2 class="slogan">CGnet Swara is a platform to discuss issues related to Central Gondwana region in India. To record a message, call us on <strong>+91-80-4113 7280</strong>.<lb:siteslogan /></h2>
          
        </div><!-- nav -->

<div class="about">


<br><h3>CGNet Swara Impact</h3>

<p>CGNet Swara empowers marginalized people, including India's 80
million tribals, by giving them an outlet to communicate with each
other and the national and global media. Because the system gives
rural, low-literate communities a way to connect using their own words
and voices, CGnet Swara also can play an important role in preserving
some of India's ancient tribal languages. Our vision is to scale the
service within India and eventually beyond, creating a vibrant
ecosystem of local reports that is universally accessible via low-cost
mobile phones.

<p>Since its deployment in February, 2010, CGNet Swara has received
over 37,000 phone calls and 750 published reports via the service (as
of May, 2011).  Several of the reports have been picked up by the
mainstream media, and some have had an anecdotal impact on the local
political process.  We give examples of such impacts below.

<h4><i>Payment of NREGA Wages</i></h4>

<p>A citizen
journalist <a href="http://www.cgnetswara.org/index.php?id=2767">did
an interview</a> with a laborer who was working under Indian
government's flagship rural job guarantee program. During the
interview it came out that Mr. Bhoi, the laborer was working for 100th
day that day but was not paid any wages.

<p>After few days another citizen journalist who had heard the story
of about non-payment of wages to
Mr. Bhoi <a href="http://www.cgnetswara.org/index.php?id=2847">found
him in a hospital</a> where his son had died due to paucity of money.
Mr. Bhoi still had not got his wages.

<p>After this BBC and some local newspapers picked up the story and
Mr. Bhoi got his wages, as reflected
in <a href="http://www.bbc.co.uk/hindi/india/2011/01/110116_mnarega_salman_pp.shtml">this
BBC report</a>.  The Times of India and The Hindu newspaper followed
(with respective
articles <a href="http://timesofindia.indiatimes.com/india/Father-struggles-to-get-NREGA-wages-son-dies-in-hospital/articleshow/7336434.cms">here</a>
and <a href="http://www.thehindu.com/news/national/article1109514.ece">here</a>)
and now some activists are taking the case to court to get Mr. Bhoi
compensation which he is entitled to according to law.

<p>Similarly Bhan Sahu, a woman reported about non-payment of wages in
her area in the same rural job guarantee scheme. And when a reporter
from The Hindu visited the area based on Ms. Sahu's report more than
1000 laborers got paid their wages due from more than 6 months.

<h4><i>Food Sent to Children After Complaint to Minister</i></h4>

<p>
A citizen journalist <a
href="http://cgnetswara.org/index.php?id=3913">reported</a> that a
displaced village of Achanakmar Tiger reserve did not receive any food
for 5 months in their anganvadi for pre-school children.  Hearing
this, an activist from Mumbai called Lata Usendi, minister for women
and child welfare in Chhattisgarh to complain about the case. As a
result of her action, officials delivered 12 quintals of rice for the
hungry children, as detailed in <a
href="http://cgnetswara.org/index.php?id=4254">this call</a>.
 
<p> Savita Rath from Raigarh <a
href="http://cgnetswara.org/index.php?id=3639">had called
Swara</a> on 15th March to inform that children of Anganvadi in her
village did not have proper food as supplies were stopped from
government. She says the next day after the story went out, officials
visited the village and arranged cooked food for the children, as
detailed <a
href="http://cgnetswara.org/index.php?id=3799">here</a>. The officer
has also assured in writing that the supplies that were due from few
months now shall be delivered by 1st April.
 
<h4><i>Seeding National Coverage on Security in Dantewada</i></h4>

<p>These two stories look like normal stories but they are not:

<h1>
<ul> 

<p><li><a href="http://www.thehindu.com/news/states/other-states/article1562165.ece">Chhattisgarh villages torched in police rampage</a>.  The Hindu, March 23, 2011.

<p><li>
<a href="http://articles.timesofindia.indiatimes.com/2011-03-23/india/29177593_1_dantewada-villages-local-police">Security forces running riot in Dantewada?</a>  The Times of India, March 23, 2011.

</ul>
</h1>
 
<p>In fact, these stories were not possible without a citizen journalism report (<a href="http://cgnetswara.org/index.php?id=3700">Alleged killing, rape and burning of houses in Dantewada</a>) on CGNet Swara, broadcast 5 days before these first newspaper reports.
 
<p>Similarly, these reports in Hindustan Times also look like normal reports:
 
<h1>
<ul>
<p><li><a href="http://www.hindustantimes.com/Absconding-but-on-duty/Article1-679110.aspx?sms_ss=facebook#">Absconding, but on duty</a>.  Hindustan Times, March 29, 2011.

<p><li><a href="http://www.hindustantimes.com/News-Feed/samar/Kartam-Surya-s-reign/Article1-679486.aspx">Kartam Surya's reign</a>.  Hindustan Times, March 30, 2011.

<p><li><a href="http://www.hindustantimes.com/News-Feed/chhattisgarh/Chattisgarh-CM-admits-villagers-brutalised-in-Red-zone/Article1-681666.aspx">Chattisgarh CM admits villagers brutalised in Red zone</a>.  Hindustan Times, April 5, 2011.

</ul>
</h1>

<p>But these were not possible without this report, published on March 25, 2011 via CGNet Swara: <a href="http://cgnetswara.org/index.php?id=3863">Absconding" policeman with rape charges beats driver taking aid</a>.
 
<p>After these reports there has been a huge turmoil in the state
assembly. 29 opposition MLAs were suspended. National Human Rights
Commission has asked for a report. The police chief and administrative
chief (collector) have been transferred and the government has
announced a judicial enquiry. The Supreme Court has intervened to say
that the enquiry must be by a High Court judge.

<h4><i>Seeding National Coverage on Coal Mine Controversy</i></h4>

<p>The following three reports look like normal reports but they are not:

<h1>
<ul>

<p><li>
<a href="http://www.hindustantimes.com/Villagers-refuse-to-give-land-for-coal-mining/Article1-667889.aspx">Villagers refuse to give land for coal mining</a>.  Hindustan Times, February 28, 2011.

<p><li>
<a href="http://www.thehindu.com/news/national/article1500913.ece">Stiff resistance to DB Power Plant in Chhattisgarh</a>.  The Hindu, March 1, 2011.

<p><li> 
<a href="http://timesofindia.indiatimes.com/india/Coal-mine-threatens-to-eat-up-town/articleshow/7606818.cms">Coal mine threatens to eat up town</a>.  The Times of India, March 2, 2011.

</ul>
</h1>
 
<p>These reports would not have been possible without messages below on CGNet Swara where citizen journalists from this remote tribal area were using their phones to tell what is going on the ground while local mainstream media had blacked out the events:

<h1>
<ul>

<p><li><a href="http://cgnetswara.org/index.php?id=3362">Appeal to press to cover public hearing on 28th in Dharmajaigarh</a>.  CGNet Swara, February 2, 2011.

<p><li><a href="http://cgnetswara.org/index.php?id=3323">Misuse of law feared to help Power plant in Chhattisgarh</a>.  CGNet Swara, February 21, 2011.

<p><li><a href="http://cgnetswara.org/index.php?id=3331">People damage vehicles of company seeking land for coal mines</a>.  CGNet Swara, February 22, 2011.

</ul>
</h1>
 
<p>
And these were the report people filed after the public hearing:

<h1> 
<ul>

<p><li>
<a href="http://cgnetswara.org/index.php?id=3425">
People refuse to give land for coal mines in Dharmajaigarh</a>.  CGNet Swara, February 28, 2011.
 
<p><li>
<a href="http://cgnetswara.org/index.php?id=3424">
No one spoke in favor of industry in Dharmajaigarh public hearing</a>.  CGNet Swara, February 28, 2011.

</ul>
</h1>
 
<p>We have more examples of similar reporting when a journalist of a national paper was alerted by reports from ground on CGNet Swara and a report in mainstream media finally helped the people. This way we have been able to stop people from going to the Maoists asking for help which has happened in the past when CGNet Swara was not present.

<h4><i>Seeding National Coverage on NREGA Payments in Surguja District</i></h4>

<p>Shivram Sonvani, a community journalist <a
href="http://cgnetswara.org/index.php?id=4177">reported on CGNet
Swara</a> from Mangari Panchayat in Batauli block where he interviewed
NREGA workers who have not been paid and were getting ready to
migrate.  This was later picked up by Patrika in <a
href="http://www.patrika.com/news.aspx?id=571650">this report</a>.

<h4><i>Payment of Salary to Teachers</i></h4>

<p>In March 2010, Mangal
Kunjam <a href="http://cgnetswara.org/index.php?id=676">reported</a>
from Dantewada that some workers from the education department have
not been paid for more than a year.  Shortly thereafter, Mangal
<a href="http://cgnetswara.org/index.php?id=985">reported again</a>
that within a week or two of the interview appearing on CGNet Swara,
the supervisor turned up and paid the salary.  Both reports are done
as interviews with a worker from an Ashram School in Kuakonda block
near Bailadila.

<h4><i>Alternate Views Picked up by Press</i></h4>

<p>The killing of "two innocents" was first reported in the press like
<a href="http://beta.thehindu.com/news/national/article431720.ece">this</a>.
Later there was
a <a href="http://cgnetswara.org/index.php?id=1050">report on CGNet
Swara</a> by Gujjo Bai, the woman head of the village, who had a
different version of the story.  This version was later picked up by
the press.

<h4><i>Removal of Liquor Shop</i></h4>

<p>Kushal from Bijapur
has <a href="http://cgnetswara.org/index.php?id=997">reported</a> that
Collector has ordered removal of liquor shop in front of a school
after hearing a message about it in CGNet Swara. He says earlier when
people had protested on the same issue the administration had removed
the school from there instead of the liquor shop.

<!-- Could potentially add:
A social activist was arrested by police and was kept under illegal detention but was released by court when reported on Swara:
http://groups.yahoo.com/group/chhattisgarh-net/message/15069
-->

</div><!-- #about -->

      </div><!-- #content -->

<br>                
	</div><!-- #wrapper --> 
 
  </body> 
 
</html>
