<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"> 
 
  <head profile="http://gmpg.org/xfn/11"> 

    <title>CGNet Swara News</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" /> 
    <meta http-equiv="content-language" content="en-GB" />
    <link rel="stylesheet" type="text/css" href="http://cgnetswara.org/loudblog/custom/templates/default/c/master.css" />
 
    <lb:rssfeedhead />

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-17543752-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script><script type="text/javascript">stLight.options({publisher:'8c4880ac-9f17-48bb-83eb-e948d49c684b'});</script>
  </head>
 
<lb:if_list>  <body id="body-index"></lb:if_list>
<lb:if_single>  <body id="body-inside"></lb:if_single>

    <div id="wrapper">

<br>

      <div id="content" class="clearfix">

        <div id="nav" class="clearfix">
        
          <h1><a href="http://cgnetswara.org/"><img id="logo" 
src="http://cgnetswara.org/loudblog/custom/templates/default/swaracover-small.png"
width=220
alt="CGNet Swara Logo" /></a></h1>
        
<h2 class="header">
<table><tr>
<td>
          <a href="http://cgnetswara.org/about.html">About</a>&nbsp;&nbsp;|&nbsp;&nbsp;
</td><td>
          <a href="http://cgnetswara.org/news.html">News & Events</a>&nbsp;&nbsp;|&nbsp;&nbsp;
</td><td>
          <a href="http://cgnetswara.org/impact.html">Impact</a>&nbsp;&nbsp;|&nbsp;&nbsp;
</td><td>
          <a href="http://cgnetswara.org/recognition.html">Recognition</a>
</td></td>
</table>
</h2>

          <h2 class="slogan">CGnet Swara is a platform to discuss issues related to Central Gondwana region in India. To record a message, call us on <strong>+91-80-4113 7280</strong>.<lb:siteslogan /></h2>
          
        </div><!-- nav -->

<div class="aboutnews">


<br><h3>News and Events</h3>

<table>

<tr><td>
<li>
Jun&nbsp;'11:
</td><td>
Week-long training camp in Delhi prepares 34 from around the country as reporters and moderators on CGNet Swara.
</td></tr>

<tr><td>
<li>
Jun&nbsp;'11:
</td><td>
CGNet Swara selected to participate in Indian Angel Network <a href="http://www.boot-camp.in/">startup boot camp</a>.
</td></tr>

<tr><td>
<li>
Jun&nbsp;'11:
</td><td>
Shubhranshu Choudhary interviewed at National University of Singapore (<a href="http://nuscast.nus.edu.sg/PublicEvents/1/MODVideoOnly.aspx?KEY=d5486bd9-d7c2-4315-a3f9-33ce2bc91bd6">video</a>).
</td></tr>

<tr><td>
<li>
Apr&nbsp;'11:
</td><td>
Bill Thies presents CGNet Swara at CTED Annual Conference, NYU Abu-Dhabi (<a href="http://research.microsoft.com/en-us/um/people/thies/cgnet-swara-march-2011.pdf">slides</a>).
</td></tr>

<tr><td>
<li>
Jan&nbsp;'11:
</td><td>
CGNet Swara selected as a finalist in the 2011 Knight News Challenge (<a href="http://generalprop.newschallenge.org/SNC/ViewItem.aspx?pguid=900d111c-1475-4d78-8fab-789663818724&itemguid=4ff5ed1b-700e-456c-aaf9-a9d2500d9f82">details</a>).
</td></tr>

<tr><td>
<li>
Jan&nbsp;'11:
</td><td>
A story on CGNet Swara (<a href="http://www.cgnetswara.org/index.php?id=2767">part 1</a>, <a href="http://www.cgnetswara.org/index.php?id=2847">part 2</a>) leads to coverage by the <a href="http://www.bbc.co.uk/hindi/india/2011/01/110116_mnarega_salman_pp.shtml">BBC</a>, the <a href="http://timesofindia.indiatimes.com/india/Father-struggles-to-get-NREGA-wages-son-dies-in-hospital/articleshow/7336434.cms">Times of India</a>, and the <a href="http://www.thehindu.com/news/national/article1109514.ece">Hindu</a>, and eventually leads to payment of overdue NREGA wages.
</td></tr>

<tr><td>
<li>
Nov&nbsp;'10:
</td><td>
BBC Hindi edition <a href="http://www.bbc.co.uk/hindi/india/2010/11/101124_mobile_news_skj.shtml">publishes a feature</a> on CGNet Swara.
</td></tr>

<tr><td>
<li>
Oct&nbsp;'10:
</td><td>
CGNet Swara receives eGov 2.0 Award (<a href="http://www.eindia.net.in/egov2d0/press-release.aspx">announcement</a>).
</td></tr>

<tr><td>
<li>
Aug&nbsp;'10:
</td><td>
Anoop Saha presents CGNet Swara at the <a href="http://research.microsoft.com/en-us/events/cnb2010/">Connecting the Next Billion Conference</a>.
</td></tr>

<tr><td>
<li>
Jul&nbsp;'10:
</td><td>
CGNet Swara receives mBillionth Award (<a href="http://mbillionth.in/category/mbillionth-2010-winners/m-news-journalism-mbillionth-2010-winners/">announcement</a>).
</td></tr>

<tr><td>
<li>
May&nbsp;'10:
</td><td>
CGNet Swara profiled by <a href="http://news.bbc.co.uk/2/hi/south_asia/8617943.stm">BBC News</a> and over a dozen media outlets within India.
</td></tr>

<tr><td>
<li>
Feb&nbsp;'10:
</td><td>
CGNet Swara launched via 2-day training camp with 30 local citizen journalists in Chhattisgarh, India (<a href="http://knight.icfj.org/OurWork/OurResults/CellPhoneNetworkinIndia/tabid/1589/Default.aspx">press release</a>).
</td></tr>

</table>

</div><!-- #about -->

      </div><!-- #content -->

<br>                
	</div><!-- #wrapper --> 
 
  </body> 
 
</html>
