<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"> 
 
  <head profile="http://gmpg.org/xfn/11"> 

    <title>CGNet Swara News</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" /> 
    <meta http-equiv="content-language" content="en-GB" />
    <link rel="stylesheet" type="text/css" href="http://cgnetswara.org/loudblog/custom/templates/default/c/master.css" />
 
    <lb:rssfeedhead />

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-17543752-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script><script type="text/javascript">stLight.options({publisher:'8c4880ac-9f17-48bb-83eb-e948d49c684b'});</script>
  </head>
 
<lb:if_list>  <body id="body-index"></lb:if_list>
<lb:if_single>  <body id="body-inside"></lb:if_single>

    <div id="wrapper">

<br>

      <div id="content" class="clearfix">

        <div id="nav" class="clearfix">
        
          <h1><a href="http://cgnetswara.org/"><img id="logo" 
src="http://cgnetswara.org/loudblog/custom/templates/default/swaracover-small.png"
width=220
alt="CGNet Swara Logo" /></a></h1>
        
<h2 class="header">
<table><tr>
<td>
          <a href="http://cgnetswara.org/about.html">About</a>&nbsp;&nbsp;|&nbsp;&nbsp;
</td><td>
          <a href="http://cgnetswara.org/news.html">News & Events</a>&nbsp;&nbsp;|&nbsp;&nbsp;
</td><td>
          <a href="http://cgnetswara.org/impact.html">Impact</a>&nbsp;&nbsp;|&nbsp;&nbsp;
</td><td>
          <a href="http://cgnetswara.org/recognition.html">Recognition</a>
</td></td>
</table>
</h2>

          <h2 class="slogan">CGnet Swara is a platform to discuss issues related to Central Gondwana region in India. To record a message, call us on <strong>+91-80-4113 7280</strong>.<lb:siteslogan /></h2>
          
        </div><!-- nav -->

<div class="about">


<br><h3>Recognition</h3>

<h4><i>Awards</i></h4>

<br><h1>
<ul>
<li>
<img src="http://cgnetswara.org/loudblog/custom/templates/default/i/mbillionth-small.png" height=40><br>
<a href="http://mbillionth.in/category/mbillionth-2010-winners/m-news-journalism-mbillionth-2010-winners/">mBillionth Award, 2010</a>.
<br><br><li>
<img src="http://cgnetswara.org/loudblog/custom/templates/default/i/egov-small.png" height=50><br>
<a href="http://www.eindia.net.in/egov2d0/press-release.aspx">India eGov 2.0 Award, 2010</a>.
<br><i>First Place, Social Media Usage (Jury Award)</i>
</ul>
</h1>

<h4><i>International Media</i></h4>

<h1><ul>

<li>
<a href="http://www.cjr.org/reports/urgent_call.php">Urgent Call</a>.
<br>Columbia Journalism Review, September/October, 2011.

<li>
<a href="http://www.bbc.co.uk/hindi/india/2010/11/101124_mobile_news_skj.shtml">Listen to my voice!</a>.
<br>BBC News, November 27, 2010.

<li>
<a href="http://www.theatlantic.com/international/archive/2010/06/bringing-news-to-indias-poorest-people/58898/">Bringing News to India's Poorest People</a>.
<br>The Atlantic, June 29, 2010.

<li>
<a href="http://in.reuters.com/article/topNews/idINIndia-48388320100511">India's neglected tribes gain voice in mobile news service</a>.
<br>Reuters, May 11, 2010.

<li>
<a href="http://ipsnews.net/text/news.asp?idnews=51316">Mobile Phone-Based News System Gives Voice to Tribals</a>.
<br>IPS News, May 5, 2010.

<li>
<a href="http://news.bbc.co.uk/2/hi/south_asia/8617943.stm">Giving a voice to India's villagers</a>.
<br>BBC News, April 25, 2010.

</ul>
</h1>

<h4><i>Indian Media</i></h4>

<h1><ul>

<li><a href="http://www.livemint.com/2011/09/21220509/Giving-villagers-a-voice-to-sp.html">Giving villagers a voice to spur change.</a><br>
Mint, Sep 21, 2011.

<li><a href="http://www.cxotoday.com/story/mobiles-deliver-news-in-maoist-heartland/">Mobiles deliver news in Chhattisgarh.</a><br>
CXO Today, Aug 30, 2011.

<li><a href="http://www.frontline.in/stories/20110812281608900.htm">In their voice.</a><br>
Frontline, Volume 28, Issue 16 (Jul 30 - Aug 12, 2011).


<li><a href="http://www.hardnewsmedia.com/2011/07/4051">Select Adivasi News.</a><br>
HardNews, July 25, 2011.

<li><a href="http://www.himalmag.com/component/content/article/4472.html">Broadcasting Dantewada.</a><br>
Himal Magazine, June, 2011.

<li><a href="http://www.countercurrents.org/iqbal280810.htm">Land Nor Freedom.</a><br>
Counter Currents, August 28, 2010.

<li><a href="http://www.hindu.com/mag/2010/07/04/stories/2010070450090300.htm">Voices in the wilderness.</a><br>
The Hindu, July 4, 2010.

<li><a href="http://www.business-standard.com/india/news/sreelatha-menon-mediathe-masses/398805/">Media of the masses.</a><br>
Business Standard, June 20, 2010.

<li><a href="http://www.telegraphindia.com/1100530/jsp/7days/story_12502810.jsp">By the tribal, for the tribal.</a><br>
The Telegraph, May 30, 2010.

<li><a href="http://www.thehindubusinessline.com/life/2010/05/28/stories/2010052850180400.htm">Ear to the mobile.</a><br>
The Hindu Business Line, May 28, 2010.

<li><a href="http://www.hindustantimes.com/StoryPage/Print/543445.aspx">Phone media brings news to India's Maoist heartland.</a><br>
Hindustan Times, May 14, 2010.

<li><a href="http://news.rediff.com/report/2010/may/14/chhattisgarh-tribals-turn-into-new-age-reporters.htm">Chhattisgarh tribals turn into reporters on cellphones.</a><br>
Rediff News, May 14, 2010.

<li><a href="http://in.reuters.com/article/2010/05/11/idINIndia-48388320100511">India's neglected tribes gain voice in mobile news service.</a><br>
Reuters, May 11, 2010.

<li><a href="http://www.openthemagazine.com/article/real-india/chhatisgarhi-mobile-radio ">Chhatisgarhi Mobile Radio.</a><br>
Open, May 8, 2010.

<li><a href="http://www.hindustantimes.com/A-coming-out-party/H1-Article1-539853.aspx">A coming-out party.</a><br>
Hindustan Times, May 5, 2010.

<li><a href="http://newshopper.sulekha.com/ians-newslist-554.htm">Mobile media venture gives voice to Gond tribals.</a><br>
Indo-Asian News Service, April 18, 2010.

<li><a href="http://epaper.mailtoday.in/Details.aspx?boxid=231339765&id=35066&issuedate=642010">Radio via phone helps link tribals.</a><br>
Mail Today, April 6, 2010.

<li><a href="http://www.hindu.com/2010/02/16/stories/2010021657032000.htm">News in dialects may soon be just a call away.</a><br>
The Hindu, February 16, 2010.

<li><a href="http://www.hardnewsmedia.com/2010/06/3584">Dial D for Dantewada.</a><br>
Hard News Media, February 1, 2010.

</ul>
</h1>

<h4><i>Television and Video</i></h4>

<h1><ul>

<li><a href="http://www.youtube.com/watch?v=Q6l-LXGRodw">CGNet Swara.</a><br>
Two Circles TV, July 5, 2010.

<li><a href="http://www.youtube.com/watch?v=CCxj45Wi_mg">India's Tribal Citizens Use New Cell Phone Technology to Produce Local News.</a><br>
International Center for Journalists, March 25, 2010.

<li><a href="http://www.ndtv.com/video/player/news/a-radio-station-not-just-for-tribals-but-of-tribals/140754">A radio station not just for tribals, but of tribals.</a><br>
NDTV, February 2010.

</ul>
</h1>

<h4><i>Websites</i></h4>

<h1><ul>

<li><a href="http://tinyurl.com/393aftc">Kuanjam I'm saying!</a><br>
Network6, Ocotber 6, 2010.

<li><a href="http://www.audiencescapes.org/citizen-journalism-only-phone-call-away-India-CGnet-Swara-MIT-mobile-communications">Citizen Journalism Only a Phone Call Away.</a><br>
AudienceScapes, September 3, 2010.

<li><a href="http://infochangeindia.org/201008248475/Technology/Stories-of-change/The-people-s-voice.html">The people's voice.</a><br>
InfoChange News & Features, August 2010.

<li><a href="http://mobileactive.org/case-studies/cgnet-swara">CGNet Swara.</a><br>
MobileActive, July 8, 2010.

<li><a href="http://twocircles.net/2010jul06/cgnet_swara_voice_unheard.html">CGNet Swara: Voice of the unheard.</a><br>
Two Circles, July 7, 2010.

<li><a href="http://www.radioandmusic.com/content/editorial/news/community-radio-rides-mobile-chattisgarh">Community radio rides on mobile in Chattisgarh.</a><br>
RadioAndMusic.com, May 24, 2010.

<li><a href="http://www.nayaindia.net/nayaindia/?p=660">Mobile News on your bid.</a><br>
Naya India, May 20, 2010.

<li><a href="http://www.thehoot.org/web/freetracker/story.php?storyid=63&sectionId=5">Vox Populi Chhattisgarh - What an Idea, Sirji!.</a><br>
The Hoot, May 15, 2010.

</ul>
</h1>

<h4><i>Blogs</i></h4>

<h1><ul>

<li><a href="http://blog.brutelabs.org/2010/12/cgnet-swara-voice-portal-for-citizen.html">CGNet Swara: A Voice Portal for Citizen News Journalism in India.</a><br>
Brute Labs, December 6, 2010.

<li><a href="http://cpj.org/blog/2010/03/circumventing-indias-radio-news-ban.php">Circumventing India's radio news ban.</a><br>
Committee to Protect Journalists, May 23, 2010.

<li><a href="http://ndn.org/blog/2010/04/empowered-information-cgnet-swara-chhattisgarh">Empowered by Information: CGnet Swara in Chhattisgarh.</a><br>
NDN, April 26, 2010.

<li><a href="http://knight.icfj.org/OurWork/OurResults/CellPhoneNetworkinIndia/tabid/1589/Default.aspx">India's Tribal Citizens Use New Cell Phone Network to Produce Local News.</a><br>
International Center for Journalists, February 2010.

</ul>
</h1>


</div><!-- #about -->

      </div><!-- #content -->

<br>                
	</div><!-- #wrapper --> 
 
  </body> 
 
</html>
